/* Variables */
:root {
  --color-white: #f3f4f4;
  --color-black: #061e29;

  --color-primary-dark: #1d546d;
  --color-primary-light: #5f9598;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Main Styles */

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;

  color: var(--color-black);
  background-color: var(--color-white);
}

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.nav {
  width: 100%;
  padding: 1.2rem;

  margin-bottom: 3.2rem;

  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
}

.nav__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__logo {
  height: 4rem;
  width: 4rem;
  border-radius: 10rem;

  background-color: var(--color-primary-dark);
}

.nav__right {
  display: flex;
  align-items: center;
}
.nav__links {
  display: flex;
  list-style: none;
}
.nav__link {
  display: inline-block;
  padding: 1.2rem 0.8rem;
}

.hero {
  margin: 0 auto;
  display: flex;
  gap: 2.4rem;

  margin-bottom: 3.2rem;
}

.hero__description {
  width: 40rem;
  padding: 3.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__img {
  height: 32rem;
  width: 32rem;
  border-radius: 1rem;

  background-color: var(--color-primary-light);
}

.heading__primary {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.hero__text {
  font-size: 1.6rem;
}

.rest {
  height: 60vh;
  background-color: #fff;
}

/* Cookie Popup */

.cookie {
  width: 30rem;
  padding: 3.2rem;
  align-self: end;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  border-radius: 1rem;
  color: var(--color-white);
  background-color: var(--color-black);

  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;
}
.cookie__icons {
  position: relative;
}
.cookie__icon {
  fill: var(--color-white);
}
.cookie__icon--cross {
  height: 3.2rem;
  width: 3.2rem;

  cursor: pointer;

  position: absolute;
  left: 85%;
}
.cookie__icon--gear {
  height: 8.2rem;
  width: 8.2rem;
}

.cookie__button {
  font-size: 1.8rem;
  font-weight: 700;

  display: inline-block;
  padding: 1.2rem 0.8rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  color: var(--color-white);
  background-color: var(--color-primary-dark);
  transition: all 0.2s;
}

.cookie__button:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-white);
}
